<div class="d-flex flex-column p-3 text-white bg-dark vh-100 shadow" style="width: 260px; position: fixed; top: 0; left: 0; z-index: 1030;">

  <!-- PERFIL -->
  <div
    class="d-flex align-items-center mb-4 pb-3 border-bottom border-secondary"
    *ngIf="user$ | async as user">

    <img
      [src]="isAdmin(user) ? 'assets/admin-avatar.webp' : 'assets/user-avatar.png'"
      class="rounded-circle me-3 bg-secondary"
      width="48"
      height="48"
      alt="Avatar"
    />

    <div class="d-flex flex-column overflow-hidden">
      <span class="fw-bold text-truncate">{{ user.username }}</span>
      <small class="text-muted text-truncate" style="font-size: 0.85rem;">
        {{ isAdmin(user) ? 'Administrador' : 'Usuario' }}
      </small>
    </div>
  </div>

  <!-- MENÚ -->
  <ul class="nav nav-pills flex-column mb-auto">

    <li class="nav-item mb-1">
      <a routerLink="/reservas"
         routerLinkActive="active"
         class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-journal-text me-3 fs-5"></i> Mis Reservas
      </a>
    </li>

   


    <li class="nav-item">
      <a routerLink="/reservas/calendario"
         routerLinkActive="active"
         class="nav-link text-white d-flex align-items-center">
        <i class="bi bi-calendar-event me-3 fs-5"></i> Calendario
      </a>
    </li>

    <!-- BOTONES SOLO ADMIN -->
    <ng-container *ngIf="user$ | async as user">
      <li class="nav-item" *ngIf="isAdmin(user)">
        <a routerLink="/salas"
          routerLinkActive="active"
          class="nav-link text-white d-flex align-items-center">
          <i class="bi bi-building me-3 fs-5"></i> Salas
        </a>
      </li>

      <li class="nav-item mb-1">
        <a routerLink="/admin/usuarios"
           routerLinkActive="active"
           class="nav-link text-white d-flex align-items-center">
          <i class="bi bi-people me-3 fs-5"></i> Usuarios
        </a>
      </li>

      <li class="nav-item mb-1">
        <a routerLink="/admin"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="nav-link text-white d-flex align-items-center">
          <i class="bi bi-calendar3 me-3 fs-5"></i> Reservas Globales
        </a>
      </li>
      
    </ng-container>

  </ul>

  <hr class="border-secondary">

  <!-- LOGOUT ABAJO -->
  <button class="btn btn-outline-light w-100 d-flex align-items-center justify-content-center gap-2" (click)="logout()">
    <i class="bi bi-box-arrow-right"></i>
    <span>Cerrar sesión</span>
  </button>

</div>
