<div class="container my-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-primary">Listado de Usuarios</h2>

    <div class="d-flex gap-2">
      <input
        [(ngModel)]="filtroUsername"
        (ngModelChange)="cargarUsuarios()"
        class="form-control"
        placeholder="Buscar usuario"
      />

      <select
        [(ngModel)]="filtroEstado"
        (change)="cargarUsuarios()"
        class="form-select"
      >
        <option value="">Todos</option>
        <option value="A">Activos</option>
        <option value="I">Inactivos</option>
      </select>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-body p-0">

      <table class="table mb-0">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Fecha creación</th>
            <th>Acciones</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of usuarios">
            <td>{{ user.idUsuario }}</td>
            <td>{{ user.username }}</td>

            <td>
              <span
                class="badge"
                [ngClass]="user.estado === 'A' ? 'bg-success' : 'bg-danger'">
                {{ user.estado === 'A' ? 'ACTIVO' : 'INACTIVO' }}
              </span>
            </td>

            <td>{{ user.fechaCreacion }}</td>

            <td>
              <button
                class="btn btn-sm btn-outline-danger"
                [disabled]="user.estado === 'I'"
                (click)="deshabilitar(user)">
                Deshabilitar
              </button>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
  </div>

  <!-- PAGINATION COMPONENT -->
  <app-pagination
    [page]="page"
    [size]="size"
    [total]="total"
    (pageChange)="cambiarPagina($event)">
  </app-pagination>

</div>
