/* Reduce el tama침o del calendario */
.fullcalendar {
  font-size: 12px; /* texto m치s peque침o */
}

.fc .fc-daygrid-day-number {
  font-size: 12px;
}

/* Ajusta padding y m치rgenes */
.fc .fc-daygrid-day-frame {
  padding: 2px;
}

/* Reduce altura de celdas */
.fc .fc-daygrid-day {
  min-height: 60px;
}


